<div  fxLayoutAlign="center center" style="height: 250px;" fxLayoutGap="50px">
<h1 *ngIf="!loggedIn">Welcome to Planning poker, please sign in with Google Account</h1>

<button mat-raised-button color="primary" *ngIf="loggedIn" routerLink="/chat">
  <mat-icon>chat</mat-icon>
  <span class="nav-list-caption">Chats</span></button>
<button mat-raised-button color="primary" *ngIf="loggedIn" routerLink="/poker">
  <mat-icon>how_to_vote</mat-icon>
  <span class="nav-list-caption">Planning poker</span></button>
</div>
